app/code/Aheadworks/UiComponents/etc/ui_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo>The definition of a configuration item components</xs:appinfo>
        <xs:documentation>The definition of a configuration item components</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd"/>
    <xs:include schemaLocation="urn:magento:module:Magento_Ui:etc/ui_components.xsd"/>
    <xs:include schemaLocation="urn:magento:module:Aheadworks_UiComponents:etc/ui_components.xsd"/>

    <xs:group name="exportElements">
        <xs:choice>
            <xs:element ref="dataSource" maxOccurs="unbounded"/>
            <xs:element ref="dataProvider" maxOccurs="unbounded"/>
            <xs:element ref="column" maxOccurs="unbounded"/>
            <xs:element ref="columns" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:complexType name="exportConfigured">
        <xs:complexContent>
            <xs:extension base="componentExport">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="exportElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="export" type="exportConfigured">
        <xs:annotation>
            <xs:documentation>
                export is a basic component responsible export data
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
