app/code/Aheadworks/Ca/etc/disallowed_company_domains.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="domains" type="domainItems" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="domainItems">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="domain" type="domainItem" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="domainItem">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>